@import '~normalize.css'
@import "assets"
@import "fonts"
@import "vars"

/* ======================= Public navigation  ======================= */
a
  text-decoration: none
  color: $colorLinks

button
  font-weight: bold !important

#nav-bar-wrapper
  a
    button
      color: #FFFFFF !important
      display: inline-block

#nav-bar-wrapper
  a.active
      button
        color: $colorLinks !important

.authForm
  margin-top: 9rem
  display: flex
  flex-direction: column
  align-items: center
  min-width: 500px